<%= stylesheet_link_tag 'articles', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'articles', 'data-tracurbolinks-track': 'reload' %>
<div id="fb-root"></div>
<div class="container-fluid">
  <div id="title" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div>BLACK 咖啡</div>
      <div id="bar"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div id="content">
        <%= image_tag 'article1-img' %>
          <p>咖啡是我生命中的重要部分，我記不得的事情咖啡都幫我記著了。喝咖啡對你而言是日常生活中的一部份嗎？咖啡對你而言有沒有像我一樣夾雜過去？若是摻著過去，就是再廉價的咖啡都能喝完，連杯緣旁留在溝裡的殘餘點滴，都要舔拭乾淨。</p>
          <p>喝黑咖啡時，我是不加糖的，白糖冰糖肯定是不加的，更遑論奶精球。</p>
          <p>精品咖啡的味道就像是一陣捲過群島的風。在味覺之海上，彼此或近或遠的風味群島。若加糖，則這陣風就被轉化成焚風，非但不舒服，更完全喪失精品咖啡本身的細膩，同時也粗暴得輾壓自己的舌頭。在這陣黑風吹過舌前頰間齒縫舌面之後，我會把層層堆疊的風味拆解開來，再將其與腦海中對於各種水果或香料的風味相印證，那些來自土壤、氣候及咖啡櫻桃等等組合而成的盛宴。但調動回憶時，有時勾動的不止是單純的味覺，與之參雜在一起的人事物也鋪天蓋地洶湧而來。如此味覺與記憶合流而成的洪流，可以使飲者的意識真空一瞬。當然這不是常見的，偶然才能遇到這樣的繾綣的咖啡。</p> 
          <p>第一次使我被趁虛而入的咖啡是哥倫比亞，更詳細的附屬資料已經忘了。一入口，鮮明的可可風味奔流而過，舌尖上近乎於無的燃燒感，舌面上的厚重感，組成我認知到的可可。這是我第一次體認到何謂可可，也是第一次因咖啡牽扯回憶，僅僅是可可，還不論這杯哥倫比亞中的其他風味。</p>
          <p>記憶中的我當時國中剛轉學到新學校，舊學校的人們在送了一張簽滿名字的桌墊後消逝無聲，看著這些名字，會想起在舊學校與同學之間的喧鬧和下課總得跟朋友衝去合作社的默契。新學校看起來差別不大，下課後一樣打鬧，一樣去合作社，甚至連流行的遊戲都一樣，但這一切與我無關，我眼中和腦中的場景幾乎荒謬的相同，唯一的差別，是我，我是那個唯一異質化的存在。總逆著新學校走廊的人流，我多希望我也能順流而下，而不是像座島般逆著湍流。</p>
          <p>某天老師提及吃巧克力可以讓人們變快樂，放學後我就在便利商店買下架上純度最高的巧克力，也順手帶一瓶ucc的BLACK無糖罐裝咖，因誤以為純度越高越快樂和無糖咖啡給人一種成熟感覺。坐在便利商店的用餐區，看落地窗前的人來來去去，新舊學校制服偶爾會交雜過我眼前，心裡終於明白即使是巧克力也不能帶來快樂，以及人們不會在自己的生命中留下，他們唯一能做的事是經過，如浮萍聚而復散，而我如孤島般獨懸海外。另一方面，ucc的BLACK生硬的苦味這段記憶在我腦裡下了錨，它是完全功能性的飲料，除了咖啡因之外一無所長，更直接來說，它甚至不算飲料，只是液狀興奮劑，完全與其廣告中出現的黑豹般的侵略性及陽剛性如出一轍。奇怪的是，BLACK的生硬和可可的厚重感正好最是孤單的配菜。</p>
          <p>如今，就連我在拿著手沖壺用細細水流澆淋咖啡粉時，還是會擅自回想那一瞬間的味覺衝擊和可可所帶來的領悟，想到當時在便利商店時落地窗上的倒影及窗後流動的人們，想到我是海中荒蕪囚島，想到那瓶BLACK。</p>
        <a href="#"><div>下一頁</div></a>
      </div>
    </div>
    <div class="col-md-3">
      <div id="author">
        <%= image_tag 'author1' %>
        <h3><b>正yee</b></h3>
        <p>一九九六年生，新北三重人，交大機械108級，現擔任咖啡社第四屆最偉大的廢物。
        一生沒幹過甚麼大事，雜事倒是不少。
        沒事時最喜歡發明無意義的音節(Gavagai)。
        目前的興趣是當深夜垃圾桶，別人講心事，回人垃圾話。</p>
        <p>人生志願: 至少在死前能接納自己吧?(系統提示: 肥宅獲得永生)。</p>
      </div>
      <div class="fb-page" 
           data-tabs="none"
           data-href="https://www.facebook.com/NCTUArtFest/?fref=ts" 
           data-small-header="false" 
           data-adapt-container-width="true" 
           data-hide-cover="false" 
           data-show-facepile="false" >
        <blockquote cite="https://www.facebook.com/NCTUArtFest/?fref=ts" 
                    class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NCTUArtFest/?fref=ts">交大藝術祭－孤島</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $(window).scroll(function(){
    var tmp = $(window).scrollTop() / ($(document).height() - $(window).height()) * 100;
    //alert(tmp);
    var percent = tmp + '%';
    //alert(percent);
    $("#bar").css("width", percent);
    //$("#bar").animate({width: percent}, "1");
  });    
});
</script>
