<%= stylesheet_link_tag 'zine', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'zine', 'data-tracurbolinks-track': 'reload' %>

<div class="container-fluid">
  <div id="banner">
    <%= image_tag 'banner.jpg', id: 'banner-img', class: 'img-responsive' %>
    <div id="arrow" class="glyphicon glyphicon-menu-down"></div>
  </div>
  <div id="article">
    <div id="threeglitch">
      <%= render 'glitch' %>
    </div>
    <div>
      <a href="/articles/1">
        <div style="margin:0; padding:0; display:inline-block">
          <div><canvas id="canvas1" class="box"></canvas></div>
            <div id="title1" style="position:absolute; height:250px; width:250px; color:white; margin-top:-265px; margin-left:15px; padding-left:5px; font-size:2em; z-index:1000; text-align:left;">
            </div>
        </div>
      </a>
      <canvas id="canvas" class="box"></canvas>
      <canvas id="canvas" class="box"></canvas>
    </div>
    <div>
      <canvas id="canvas" class="box"></canvas>
      <canvas id="canvas" class="box"></canvas>
      <canvas id="canvas" class="box"></canvas>
    </div>
    <div>
      <canvas id="canvas" class="box"></canvas>
      <canvas id="canvas" class="box"></canvas>
      <canvas id="canvas" class="box"></canvas>
    </div>
  </div>
 
</div>

<script>
$(document).ready(function(){
    $('.back').hide(); //back是咖啡背景字
    });
</script>

<script>
$(function(){
    $('#title1').mouseenter(function(){
      var back_topic = '#' + 'box_' + $(this).attr('id');
      $('#box_canvas1').show();
      });
    $('#title1').mouseenter(function(){
      window.setTimeout(function() {
        $('#title1').html("<h1>BLACK咖啡</h1><h3>正yee</h3>");
        }, 1000);
      });
    $('#title1').mouseout(function(){
      $(this).text("");
      });
    $('#title1').mouseout(function(){
      var back_topic = '#' + $(this).attr('class') + '_' + $(this).attr('id');
      $('#box_canvas1').hide();
      });
    });
</script>
